.project-info-card {
  border-radius: 20px;
  padding: 15px;
  max-width: 430px;
  background-color: rgb(29, 21, 21);
  background-image: var(--project_info_card_background);
  margin-top: 15px;
}
.project-video-div {
  max-width: 400px;
  padding: 15px 15px 0 15px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #ecddce, rgb(232, 244, 255));
}
.video {
  max-width: 350px;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  cursor: pointer; 
  transition: transform 0.3s; 
}
.project-title {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.project-title > span {
  margin-left: 10px;
  font-weight: bold;
}
.project-icon {
  width: 32px;
  height: 32px;
}
.project-description > p {
  padding-top: 15px;
  color: #b8b6b6;
}
.project-description-link > a {
  color: var(--project_page_a);
  text-decoration: none;
  font-weight: bold;
  padding: 0px;
}
.project-card-action-btn {
  display: flex;
  justify-content: flex-end;
}
.project-card-action-btn > a > button {
  margin-top: 15px;
  border-radius: 20px;
  padding: 5px 25px;
  font-weight: bold;
  color: #3a3939;
  border: 2px solid rgb(178, 213, 246);
  background-image: linear-gradient(to right, #ecddce, rgb(232, 244, 255));
}
.project-card-action-btn > a > button:hover{
  background-image: linear-gradient(310.16deg, #b0e0de 18.64%, #eeabca 82.88%);
}