.right-t {
  flex: 1;
  position: relative;
  left: 8rem;
  bottom: 2rem;
}

.right-t > img {
  position: absolute;
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  right: 8rem;
  top: 2rem;
  border-radius: 8rem;
  cursor: pointer;
}

.right-t > :nth-child(1) {
  position: absolute;
  width: 15rem;
  height: 17rem;
  border: 2px solid orange;
  border-top-left-radius: 100%;
  background-color: transparent;
  right: 13rem;
  top: 0.2rem;
}

.right-t > :nth-child(2) {
  position: absolute;
  width: 15rem;
  height: 16rem;
  border: 2px solid gold;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 70%;
  background: transparent;
  right: 7rem;
  top: 4rem;
}

/* media queries for responsiveness */
@media (max-width: 768px) {
  .right-t {
    flex-direction: column-reverse;
    left: 5rem;
    top: 2rem;
  }

  .right-t > img {
    position: absolute;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
    border-radius: 4rem;
    cursor: pointer;
  }

  .right-t > :nth-child(1) {
    position: absolute;
    width: 7rem;
    height: 8rem;
    border: 2px solid orange;
    border-top-left-radius: 100%;
    background-color: transparent;
    right: 13rem;
    top: 0.2rem;
  }

  .right-t > :nth-child(2) {
    position: absolute;
    width: 7rem;
    height: 8rem;
    border: 2px solid gold;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 70%;
    background: transparent;
    right: 7rem;
    top: 4rem;
  }

  .tech-stack {
    display: none;
  }
}
