

.header-name {
  cursor: pointer;
}

.header{
  display: flex;
  justify-content: space-between;
}

.header-menu{
  list-style: none;
  display: flex;
  gap: 2rem;
  color: var(--body_color);
}
.header-menu>li{
  cursor: pointer;
}
.header-menu>li:hover{
  cursor: pointer;
  color: orange;
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@media  screen and (max-width: 768px) {
  .header>:nth-child(2){
    position: fixed;
    right: 2rem;
    z-index: 99;
  }
  .header-menu{
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
    padding: 2rem;
  }
  .stroke-text{
    padding-left: 10px;
  }
}