.App {
  /* mix-blend-mode: overlay; */
  /* background-color: rgba(0, 0, 0, 0.74); */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
  margin-bottom: 2rem;
  }

  h5{
    color: rgb(106, 0, 255);
    font-family: fantasy;
  }

::-webkit-scrollbar{
  display: none;
}