:root {
  --body_background: white;
  --body_color: black;
  --project_page_a: #33201b;
  --project_info_card_background: linear-gradient(310.16deg, #b0e0de 18.64%, #eeabca 82.88%); 
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --project_page_a: #fd866b;
  --project_info_card_background: linear-gradient(310.16deg, #272130 18.64%, #16222e 82.88%),
  linear-gradient(0deg, #fff, #fff);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
